@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this updated privacy page to detail your site's privacy policy.</p>
<p>here is the updated one</p>
